*{
    margin: 0;
    padding: 0;
}
h1{
    color: #28FF28;
    font-size: 60px;
}

nav{
    background-color:#000;
    text-align: center;
    font-size: 0;
}

nav a{
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    padding: 6px 20px;
    font-size: 16px;
    background-color: black;
    transition: 0.5s;
}

nav a:hover{
    background-color:#FF2D2D ;
}